* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #3f464d;
  font-family: "spoqa Han Sans Neo", "Sans-serif";
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #4f464d;
}

a:visited {
  text-decoration: none;
  color: #4f464d;
}

a:active {
  text-decoration: none;
  color: #4f464d;
}

a:hover {
  text-decoration: none;
  color: #4f464d;
}
.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-container .head-brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-brand a:hover {
  color: #2186c4;
  cursor: pointer;
}

.head-container .head-blog {
  font-weight: bold;
  font-size: 1.2rem;
}

@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}
